<section class='major'>
  <div>
    <h1><span>brain</span>.less</h1>
    <h2>A collection of less mixins to simplify css development.</h2>
    <a class='button' href='https://github.com/jleonard/brainless' target='_blank'>view on github</a>
  </div>
</section>

<%- partial('_partials/center.ejs') %>

<%- partial('_partials/position.ejs') %>

<%- partial('_partials/transform.ejs') %>

<%- partial('_partials/transition.ejs') %>

<%- partial('_partials/util.ejs') %>

<footer>
  <a href='https://github.com/jleonard/brainless' target='_blank'>Find this on github</a> or <a href='https://twitter.com/j__leonard' target='_blank'>follow me on twitter</a>.
</footer>